.wrap {
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.header {
  width: 100%;
  color: #fff;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.leave {
  background-color: rgb(253, 73, 73);
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.form {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(51, 51, 51);
  justify-content: space-between;
  min-height: 80px;
  padding: 0 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.input {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
}

.input::placeholder {
  font-size: 22px;
}

.button {
  text-align: center;
}

.button input {
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

.emoji {
  width: 40px;
  cursor: pointer;
  position: relative;
}

.emoji img {
  vertical-align: middle;
}

.emojies {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}
